@import "./styles/variables.scss";
@import "./styles/utilities.scss";

@import "@picocss/pico/css/pico.min.css";

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
  app-side-bar {
    right: 0;
    left: unset;
  }
}
html[dir="ltr"] {
  app-side-bar {
    left: 0;
    right: unset;
  }
}
