<div class="d-flex flex-between">
  <div class="left d-fles flex-col">
    <h6>{{"portfolio.bio.welcome"|translate}}</h6>
    <h2>{{"portfolio.bio.name"|translate}}, <span class="job-title">{{"portfolio.bio.job_title"|translate}}</span></h2>
    <h1 class="job">{{"portfolio.bio.job"|translate}}</h1>
    <p>{{"portfolio.bio.description"|translate}}</p>
    <button class="btn download-cv">{{"portfolio.bio.download"|translate}}</button>
  </div>
  <div class="right">
    <div class="image">
      <img src="assets/images/avatar2.png" alt="">
      <!-- <div class="overlay"></div> -->
    </div>
  </div>
</div>
